<h2>{{title}}</h2>

<div class="movie">
  <div class="movie__images">
    <div class="thumbnails">
      <ngx-slick-carousel [config]="sliderConfig" class="carousel">
        <div class="slick-item" *ngFor="let m of movies.results" ngxSlickItem>
          <img src="https://image.tmdb.org/t/p/w200{{m?.poster_path}}" alt="{{m.title}}"
               (click)="showMovie(m.original_title, m.overview, m.id, m.release_date, m.vote_average, m?.poster_path)">

        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
<div class="details" *ngIf="movieSelected" style="color: white">
  <div class="blockDetails">
    <h1>{{selected.title | naturalType}}</h1>
    <h3>{{selected.release_date | naturalType}} | Rating {{selected.vote_average | naturalType}}</h3>
    <p>{{selected.overview | naturalType}}</p>
    <button class="add-button"
            (click)="addToList(selected.title, selected.overview, selected.release_date, selected.vote_average, selected.poster)">
      <mat-icon>add</mat-icon>
      <span>Add to List</span>
    </button>
  </div>
  <div class="blockDetails">
    <iframe *ngIf="selectedTrailer" id="player" type="text/html" width="600" height="360"
            [src]="selectedTrailer"
            frameborder="0"></iframe>
  </div>
</div>
